@model MvcStok.Models.Entity.TBLKATEGORILER

@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Kategory", FormMethod.Post))
{
<div class="form-group">
    @Html.LabelFor(m => m.KATEGORYID)
    @Html.TextBoxFor(m => m.KATEGORYID, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.KATEGORYAD)
    @Html.TextBoxFor(m => m.KATEGORYAD, new { @class = "form-control" })

</div>
   <div>
       <button class="btn btn-warning ">Kategori Guncelle</button>

   </div>

}

